<footer class="footer">

    <div class="containernav">
        <div class="iconup"><a class="iconlink" title="Inicio" href="#inicio"><img src="./assets/images/ico-arrow.svg"
                    alt="Inicio de página" title="Inicio de página"></a></div>
        <nav class="nav">
            <ul>
                <li><a class="link" title="Articles" href="https://adalab.es/">Articles</a></li>
                <li><a class="link" title="Books" href="https://adalab.es/">Books</a></li>
                <li><a class="link" title="Events" href="https://adalab.es/">Events</a></li>
                <li><a class="link" title="Reasons" href="https://adalab.es/">Reasons</a></li>
                <li><a class="link" title="Tips" href="https://adalab.es/">Tips</a></li>
            </ul>
        </nav>
    </div>

    <div class="containersocial">
        <nav class="nav">
            <ul>
                <li><a class="link" title="Twitter" href="https://adalab.es/">Twitter</a></li>
                <li><a class="link" title="Instagram" href="https://adalab.es/">Instagram</a></li>
                <li><a class="link" title="Mastodon" href="https://adalab.es/">Mastodon.social</a></li>
            </ul>
        </nav>
    </div>


    <div class="container">
        <p>&copy; 2021</p>
        <p>we <span class="heart">&hearts;</span> components</p>
    </div>

</footer>