<footer class="footer">

    <div class="sectiontwo__iconup"><a title="Subir" href=""><img src="./assets/images/ico-arrow.svg" alt="Subir"
                title="Subir"></a></div>

    <nav class="footer__nav">
        <ul class="footer__link">
            <li><a title="Articles" href="">Articles</a></li>
            <li><a title="Books" href="">Books</a></li>
            <li><a title="Events" href="">Events</a></li>
            <li><a title="Reasons" href="">Reasons</a></li>
            <li><a title="Tips" href="">Tips</a></li>
        </ul>
    </nav>

    <nav class="footer__socialnav">
        <ul class="footer__sociallink">
            <li><a title="Twitter" href="">Twitter</a></li>
            <li><a title="Instagram" href="">Instagram</a></li>
            <li><a title="Mastodon" href="">Mastodon.social</a></li>
        </ul>
    </nav>

    <p>&copy; 2021</p>
    <p>we love components</p>
</footer>