<header class="header" id="inicio">
    <nav>
        <a title="Menú" href="https://adalab.es/"><img class="header__menuicon" src="./assets/images/ico-menu.svg"
                alt="Icono de menú" title="Icono de menú"></a>
    </nav>

    <div class="header__container">
        <h1 class="header__container--maintitle">Anonymous proxy</h1>
        <p class="header__container--text">in hac habitasse platea dictumst</p>
    </div>

    <div class="header__icondown"><a class="header__icondown--link" title="3 Reasons To Purchase"
            href="#3reasonstopurchase"><img src="./assets/images/ico-scroll-down.svg" alt="Reasons To Purchase"
                title="Reasons To Purchase"></a>
    </div>
</header>