<main>
    <section class="sectionlooking">
        <p class="sectionlooking__tips">Insomnia Tips</p>
        <div class="containertitle">
            <h2 class="sectionlooking__secuntitle">Looking through a window</h2>
        </div>
        <p class="sectionlooking__text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum.
        </p>
        <button class="sectionlooking__btn"><a class="sectionlooking__btn--link" title="Go"
                href="https://adalab.es/">Go</a>
        </button>
    </section>

    <section class="sectionreasons" id="3reasonstopurchase">
        <h2 class="sectionreasons__secuntitle">3 Reasons to purchase</h2>

        <section class="sectioncontainer">
            <article class="article1">
                <h3 class="articletitle">Ut sed metus</h3>
                <p class="articletext"> Lorem ipsum dolor sit amet, consecteur.</p>
            </article>
            <article class="article2">
                <h3 class="articletitle">Curabitur ac erat</h3>
                <p class="articletext">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="article3">
                <h3 class="articletitle">Morbi dictum</h3>
                <p class="articletext">Aliquam in dolor et dolor tincidunt.</p>
            </article>
        </section>


        <button class="sectionreasons__btn"><a class="sectionreasons__btn--link" title="More Reasons"
                href="https://adalab.es/">More
                reasons</a></button>
    </section>


</main>

<!--Revisar botones go and more reasons-->