.header {
  background-image: url(../images/cover.jpg);
  background-position: center top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__menuicon {
    background-color: #0271bc;
    width: 44px;
    height: 44px;
    padding: 15px 14px;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__container {
    width: 290px;
    height: 140px;
    transform: translateY(-40%);
    &--maintitle {
      color: #ffffff;
      font-size: 42px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px;
      font-family: "Roboto Slab", serif;
    }
    &--text {
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      font-family: "Roboto", sans-serif;
    }
  }
  &__icondown {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 55px;
    text-align: center;
    line-height: 45px;
    &--link {
      padding: 12px;
    }
  }
}
