.header {
  background-image: url(../images/cover.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @media (min-width: 768px) {
    background-size: cover;
  }
  &__menuicon {
    background-color: #0271bc;
    width: 44px;
    height: 44px;
    padding: 15px 14px;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__container {
    width: 290px;
    height: 140px;
    transform: translateY(-40%);
    @media (min-width: 768px) {
      width: 690px;
      height: 260px;
      transform: translateY(-10%);
    }
    @media (min-width: 1200px) {
      width: 730px;
      height: 320px;
      transform: translateY(5%);
    }
    &--maintitle {
      color: $colorTitle;
      font-size: 42px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px;
      font-family: $fontTitle;
      @media (min-width: 768px) {
        font-size: 80px;
        margin-bottom: 15px;
      }
      @media (min-width: 1200px) {
        font-size: 100px;
      }
    }
    &--text {
      color: $colorTitle;
      font-size: 16px;
      text-align: center;
      font-family: $fontText;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
  }
  @keyframes down {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(50%);
    }
  }
  &__icondown {
    background-color: $colorTitle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 55px;
    text-align: center;
    line-height: 45px;
    animation: down ease-out 3s 3;
    @media (min-width: 768px) {
      transform: translateY(40%);
    }
    @media (min-width: 1200px) {
      transform: translateY(80%);
    }
    &--link {
      padding: 12px;
    }
  }
}
